<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

  <!-- CSS + JS -->
  <script src="/webjars/jquery/jquery.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/js/tooltip.js" defer></script>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Main Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">HomeConnect2SEMP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Geräte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/settings}">Einstellungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/help}">Hilfe</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<!-- Content Section -->
<section layout:fragment="content">
  <p>This is filled by the content template.</p>
</section>

<!-- Footer -->
<footer class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">&copy; 2021 Dennis Nikolas Falk</p>
    </div>
  </div>
</footer>


</body>
</html>